$full: 100%;
$white: #fff;
$font-regular: "Roboto", sans-serif;;
$font-light: "Roboto", sans-serif;;
$font-bold: "Roboto", sans-serif;;
$extra-large-device: 1600px;
$large-device: 1366px;
$tab-device: 1024px;
$semi-tab-device: 768px;
$medium-device: 640px;
$small-device: 480px;
$extra-small-device: 360px;
